html {
    background-color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 78px auto 0;
    max-width: 375px;
    height: 590px;
}

header {
    top: 77px;
    position: absolute;
}

header img {
    position: absolute;
    clip: rect(0px,380px,26px,-8px);
}

.time {
    position: absolute;
    z-index: 99;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    top: 4px;
    left: 164px;
    padding-right: 6px;
}

.report-button {
    color: rgba(255,255,255,0.8);
    position: absolute;
    margin: 0 auto;
    top: 30px;
    left: 30px;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
}

.weather-card {
    transform: translatey(40px);
}

.weather-card img {
    margin: 0px auto;
    width: 350px;
    display: block;
}

.action-buttons img {
    display: block;
    margin: 0 auto;
    transform: translatey(140px);
}

.action-buttons .message p {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    transform: translatey(180px);
}

/* Settings */
.options {
    padding-top: 25px;
}

.toggle-image {
    user-select: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #C8C7CC;
    border-top: 1px solid #C8C7CC;
}

.options .option span {
    font-size: 15px;
    letter-spacing: -0.41px;
    color: #030303;
    vertical-align: baseline;
    padding-top: 7px;
}


nav {
    width: 295px;
    background-color: rgba(255,255,255, 0.8);
    padding: 18px 40px;
    position: absolute;
    top: 590px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    box-shadow: 0px 4px 2px;
    box-shadow: 0px 4px 15px 0px;
}

nav li {
    display: inline;
}

nav li a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    font-size: 10px;
    padding: 40px 0;
}
nav li a:hover .redify,
nav li a:hover span {
    color: #ff004c;
    cursor: pointer;
    fill: #ff004c !important;
}

nav li a svg {
    display: block;
    margin: 0 auto;
}

/* Favourites Page */

.favourites img,
.music img {
    margin-left: -1px;
    width: 377px;
    clip: rect(0px,376px,590px,0px);
    position: absolute;
}

.go-back {
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 30px 0;
}

/* Loading Splash */

.loading-splash {
    position: absolute;
    width: 375px;
    height: 590px;
    z-index: 99;
    background-color: white;
}

.loading-splash img {
    padding-top: 61px;
}

.music {
    z-index: 0;
    margin-top: 25px;
}

.music-weather {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding-top: 50px;
}

.music-weather p {
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 148px;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
}

.loading-splash p {
    text-align: center;
    margin-top: 370px;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

.music .loading-splash {
    height: 562px;
}

.music.loading-splash p {
    margin-top: 370px;
}

/* Music Player */

.music-player {
    background-color: rgba(255,255,255,0.5);
    height: 220px;
    margin-top: 69px;
}

.title {
    text-align: center;
}

.title p {
    font-size: 13px;
    padding-top: 30px;
    margin: 0;
}

.title span {
    font-size: 8px;
}

.controls {
    padding-top: 30px;
}

.controls ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.controls li {
    list-style: none;
}

.controls ul li img {
    width: 23px;
    position: static;
}

.slider {
    padding-top: 50px;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    font-size: 8px;
    justify-content: center;
    -webkit-justify-content: center;
}

.slider span input {
    width: 240px;
    cursor: pointer;
}

.slider span img {
    display: flex;
    display: -webkit-flex;
    position: static;
}

.time-played {
    padding-top: 3px;
    padding-right: 10px;
}

.time-left {
    padding-top: 3px;
    padding-left: 10px;
}
}

.hidden {
    display: none;
}

/* Weather Background Gradients */
.sunny-bg {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}

.cloudy-bg {
    background: navy; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightgrey, lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightgrey, lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightgrey, lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightgrey, lightblue, white); /* Standard syntax */
}

.rainy-bg {
    background: navy; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(navy, purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(navy, purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(navy, purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(navy, purple); /* Standard syntax */
}

.container.settings {
    background: #EFEFF4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EFEFF4, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EFEFF4, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EFEFF4, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EFEFF4, #FFF); /* Standard syntax */
}
